@model IEnumerable<CadeMeuMedico.Models.Medicos>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Adicionar novo medico", "Adicionar")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CRM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Endereco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bairro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AtendePorConvenio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TemClinica)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WebsiteBlog)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cidades.IDCidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Especialidades.IDEspecialidade)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CRM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Endereco)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bairro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AtendePorConvenio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TemClinica)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WebsiteBlog)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cidades.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Especialidades.Nome)
        </td>
        <td>
            @Html.ActionLink("Editar", "Editar", new { id=item.IDMedico }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDMedico }) |
            @Html.ActionLink("Excluir", "Excluir", new { id=item.IDMedico })
        </td>
    </tr>
}

</table>